.contain-intro{
    height:600px;
    margin-top: 20px;
    background-image: url('../../assets/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.heading-intro{
    display: block;
    align-items: start;
    margin-left: 8rem;
    flex-direction: column;
}

.title-intro{
color: #d9ab97;
margin: 10px;
}

.intro{
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;

font-family: monospace;
text-transform: uppercase;
    width: 25rem;
}

.contain-intro a{
    text-decoration: none;
}